footer {
    width: 100%;
}

.lineaFooterRosa {
    margin-top: 0.5%;
    background: #F25EB0;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.lineaFooterNaranja {
    margin-top: 0.5%;
    background: #F29829;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.lineaFooterRoja {
    margin-top: 0.5%;
    background: #F2421B;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.contenidoFooter {
    display: flex;
    justify-content: space-between;
}


.imgCalaveraFooter {
    margin: 2em;
    width: 10%;
}

.contenedorRedes {
    padding: 30px;
    margin-top: 40px;
}

.contenedorRedes h3 {
    margin-top: 40px;
    font-family: 'Mulish';
    font-size: 25px;
    color: #FFFFFF;
}


.contenedorRedes ul {
    margin-top: 20px;
}

.contenedorRedes li {
    font-family: 'DM Serif Text', serif;
    list-style-type: none;
    font-size: 20px;
}

.imgIcon {
    margin: 0px 20px;
    padding: 0;
    width: 50px;
    height: 50px;
}

.contenedorNavFooter {
    display: block;
    margin: 40px;
}

.contenedorNavFooter a {
    padding-left: 8px;
    margin: 30px;
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 20px;
    border-left: 5px solid #091026;
    transition: 0.3s;
}

.contenedorNavFooter a:hover {
    border-left: 5px solid white;
    transition: 0.4s;
}

@media (max-width: 992px) {
    .contenidoFooter {
        flex-direction: column;
        align-items: center;
    }

    .imgCalaveraFooter {
        display: none;
    }

    .contenedorNavFooter {
        text-align: center;
    }
}
