header {
    margin: 0;
    width: 100%;
    left: 0px;
    top: 0px;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

label {
    display: none;
}

input {
    display: none;
}

.nav-menu {
    text-align: right;
    margin-right: 50px;
    width: 100%;
}

.nav-menu li {
    display: inline;
    line-height: 100px;
    margin: 0 20px;
    transition: none;
}

.nav-menu li a {
    margin: 5px;
    color: white;
    font-size: 150%;
    text-decoration: none;
}

.nav-menu li a:hover {
    padding-bottom: 8px;
    transition: 0.3s;
    border-bottom: 4px solid white;
}

.tituloEncabezado {
    margin-bottom: 5%;
    width: 100%;
    height: 23vh;
    font-family:'Medula One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 25vh;
    text-align: center;
    text-transform: uppercase;
    
    color: #F0EBDD;
    
}

.subtituloEncabezado {
    width: 100%;  
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    color: #FFFFFF;
}

.parrafoEncabezado {
    width: 100%;
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
    
    color: #FFFFFF;
}

.imagenCalavera {
    margin: 2em;
    width: 100px;
}

.imgBanderines {
    width: 100%;
}


@media (max-width: 992px) {
    * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
    }

    header {
        width: 100%;
        height: 100vh;
    }

    header section {
        padding-top: 100px;
    }
    
    nav {
        background-color: #091026;
        position: fixed;
        z-index: 999;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    label {
        display: flex;
    }
    
    .imagenCalavera {
        width: 50px;
        margin-top: 30px;
        margin-left: 20px;
    }
    
    .imgBanderines {
        width: 100%;
    }
    
    .bar-btn {
        font-size: 25px;
        margin-right: 20px;
        cursor: pointer;
    
    }
    
    .nav-menu {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 100px;
        background-color: rgba(0, 0, 0, .95);
        text-align: center;
    }
    
    .nav-menu li {
        
        display: none;
        line-height: 30px;
        margin: 50px 0;
    
    }
    
    .nav-menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    
    }
    
    #check {
        display: none;
    }
    
    #check:checked ~ .nav-menu {
        height: 100vh;
    }
    
    #check:checked ~ .nav-menu li {
        display: block;
    }

    .tituloEncabezado {
        margin-top: 100px;
        font-size: 9em;
    }

    .subtituloEncabezado {
        font-size: 2em;
    }

    .parrafoEncabezado {
        font-size: 1em;
    }



}