
main {
    margin-top: 2em;
    width: 100%;
    left: 0px;
}

.mainEncabezado {
    margin: 5% 0;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 15vh;
}

.lineaEncabezado {
    width: 60%;
    border-bottom: solid 4px white;
    border-radius: 4px;
}

.mainEncabezado h2 {
    width: 21vw;
    height: 9vh;

    font-family: 'Medula One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 8vh;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* ----------------- SECCION MENU ------------------- */

.contenedorComidaFondo {
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54.74vh;
    background: #000000;

}

.contenidoComida {
    position: absolute;
    z-index: 2;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.contenedorComidaFondo h3 {
    text-align: center;
    font-family:'Medula One', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    text-transform: uppercase;
    letter-spacing: 9px;
    
    color: #FFFFFF;
}

.sectorComida {
    display: flex;
}


.listaComida {
    width: 100%;
}

.listaComida ul li {
    font-family: 'DM Serif Text', serif;
    list-style-type: none;
    font-size: 5vh;
    margin: 50px 0 ;
}

.imgFondo {
    width: 100%;
    height: 54.74vh;
    opacity: 0.3;
} 

.imgPrincipal   {
    width: 35vw;
    height: 40vh;
    margin-right: 5%;
    margin-top: 4%;
    transition: 0.4s;
    border-radius: 10px;

}

.imgPrincipal:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.7s;
}


.franjaRosa {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F25EB0;
    border-radius: 6px;
}

.franjaCeleste {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #4091BE;
    border-radius: 6px;
}

.franjaRoja {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F2421B;
    border-radius: 6px;
    
}

.franjaNaranja {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F29829;
    border-radius: 6px;
    
}

/* -------------------------  SECCION NOSOTROS  -------------------------*/

.contenedorContenido {
    margin-bottom: 10%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}



.parrafoNosotros {
    padding: 30px;
    width: 50%;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 4vh;
    color: #FFFFFF;
}

.parrafoNosotros p {
    text-indent: 50px;
}

.imgCalaveraNos {
    width: 20vw;
}

/* -------------------------  SECCION SUCURSALES  -------------------------*/

.sucursal {
    display: flex;
}

.contenedorSucursales1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    width: 50%;
    height: 54.74vh;
    background-image: url("../img/resto_local_primero.jpg");
}

.contenedorSucursales2 {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    width: 50%;
    height: 54.74vh;
    background-image: url("../img/resto_local_segundo.jpg");
}

.direccion {
    margin: 5%;
    width: 50%;
}

.direccion li {
    font-family: 'DM Serif Text', serif;
    display: flex;
}


.encabezadoSucursales {
    justify-content: center;
    display: flex;
    width: 100%;
}

.sucursalesH3 {
    margin-top: 5%;
    font-family: 'Mulish';
    font-weight: bolder;
    font-size: 10vh ;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.lineaSucursales {
    border-bottom: solid 4px white ;
    border-radius: 4px;
}

.circuloRosa {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F25EB0;
    border-radius: 100%;
}

.circuloRojo {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F2421B;
    border-radius: 100%;
}

.circuloNaranja {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F29829;
    border-radius: 100%;
}  

/* --- SECCION PEDIDO ---  */
.grid-container {
    margin: 5% 0;
    display: grid;
    row-gap: 50px;
    padding: 10px;
}

.grid-container h3 {
    text-align: center;
    font-family:'Medula One', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    text-transform: uppercase;
    letter-spacing: 9px;
    color: #FFFFFF;
}

.grid-item {
    padding: 20px;
    display: block;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.458);
    border-radius: 7px;
    border: solid 1px rgb(209, 202, 202);
}

.comida {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*  TENGO QUE PODER HACER HOVER Y QUE SE MUESTREN LOS INGREDIENTES Y EL PRECIO */

.ingredientes {
    display: none;
    font-family: 'DM Serif Text', serif;
    font-size: .7em;
}

.totalPedido {
    border: 2px solid white;
    border-radius: 6px;
    height: 10vh;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contador {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border-radius: 10px;
}

.btn-contador {
    border: none;
    font-size: 1em;
    border-radius: 10px;
    width: 25%;
    transition: .3s;
}

.btn-contador:hover {
    transition: .3s;
    opacity: .6;
}

.contenedor-btn {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-pedir {
    font-family: 'DM Serif Text', serif;
    background-color: #0a10377a;
    color: white;
    font-size: 2em;
    width: 13%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid white;
    letter-spacing: 4px;
    transition: .5s;
}

.btn-pedir:hover {
    width: 15%;
    height: 125%;
    font-size: 2.5em;
    background-color: #07070c7a;
    transition: .5s;
}

.naranja {
    background-color: #F29829;
}

.rojo {
    background-color: #F2421B;
}



@media (max-width: 992px) {

    .imgPrincipal {
        display: none;
    }

    .imgFondo {
        object-fit: cover;
    }

    .contenidoComida {
        margin: 20px;
        justify-content: center;
        align-items: center;
    }

    .contenedorComidaFondo h3 {
        
        text-align: center;
        font-size: 70px;
        text-transform: uppercase;
    }

    
    .listaComida ul li {
        margin: 30px 0;
        font-size: 4vh;
    }

    .separadorComida {
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .listaComida {
        margin: 0;
    }


    .franjaCeleste {
        display: none;
    }

    .franjaNaranja {
        display: none;
    }

    .franjaRoja {
        display: none;
    }

    .franjaRosa {
        display: none;
    }

    /* --- CONTENIDO NOSOTROS --- */
    .contenedorContenido {
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .parrafoNosotros {
        margin-bottom: 40px;
        font-size: 16px;
    }
    .imgCalaveraNos {
        width: 100px;
    }

    /* --- CONTENIDO SUCURSALES --- */
    .h1_sucursal {
        margin-top: 100px;
        font-size: 7em;
    }

    .circuloNaranja {
        display: none;
    }
    .circuloRojo {
        display: none;
    }
    .circuloRosa {
        display: none;
    }

    .sucursal {
        display: block;
        margin-bottom: 20px;
    }

    .contenedorSucursales1 {
        width: 100%;
        height: 100px;
        background-image: url("../img/resto_local_primero.jpg");
        background-size: cover;
    }

    .contenedorSucursales2 {
        width: 100%;
        height: 100px;
        background-image: url("../img/resto_local_segundo.jpg");
        background-size: cover;
    }

    .direccion {
        width: 100%;
    }

    .direccion ul {
        margin-left: 10px;
    }

    .direccion li {
        font-size: 4px;
    }

    .sucursalesH3 {
        font-family:'Medula One', cursive;
        letter-spacing: 4px;
        width: 100%;
    }
    
    /* --- SECCION PEDIDO ---  */
    .grid-item {
        font-size: 20px;
    }
    .btn-pedir {
        font-family: 'DM Serif Text', serif;
        background-color: #0a10377a;
        color: white;
        font-size: 2em;
        width: 60%;
        border-radius: 5px;
        border: 1px solid white;
        letter-spacing: 4px;
        transition: .5s;
    }

    .btn-pedir:hover {
        width: 70%;
    }

    .mainPedido {
        margin-top: 150px;
    }
}

