
main {
    margin-top: 2em;
    width: 100%;
    left: 0px;
}

.mainEncabezado {
    margin: 5% 0;
    justify-content: space-around;
    display: flex;
    width: 100%;
    height: 15vh;
}

.lineaEncabezado {
    width: 60%;
    border-bottom: solid 4px white;
    border-radius: 4px;
}

.mainEncabezado h2 {
    width: 21vw;
    height: 9vh;

    font-family: 'Medula One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 8vh;
    text-transform: uppercase;

    color: #FFFFFF;
}

/* ----------------- SECCION MENU ------------------- */

.contenedorComidaFondo {
    margin-bottom: 5%;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 54.74vh;
    background: #000000;

}

.contenidoComida {
    position: absolute;
    z-index: 2;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
}

.contenedorComidaFondo h3 {
    text-align: center;
    font-family:'Medula One', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 10vh;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.sectorComida {
    display: flex;
}


.listaComida {
    width: 100%;
}

.listaComida ul li {
    font-family: 'DM Serif Text', serif;
    list-style-type: none;
    font-size: 5vh;
    margin: 50px 0 ;
}

.imgFondo {
    width: 100%;
    height: 54.74vh;
    opacity: 0.3;
} 

.imgPrincipal   {
    width: 35vw;
    height: 40vh;
    margin-right: 5%;
    margin-top: 4%;
    transition: 0.4s;
    border-radius: 10px;

}

.imgPrincipal:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition: 0.7s;
}


.franjaRosa {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F25EB0;
    border-radius: 6px;
}

.franjaCeleste {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #4091BE;
    border-radius: 6px;
}

.franjaRoja {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F2421B;
    border-radius: 6px;
    
}

.franjaNaranja {
    width: 3vw;
    height: 50vh;
    margin: 1%;
    background: #F29829;
    border-radius: 6px;
    
}

/* -------------------------  SECCION NOSOTROS  -------------------------*/

.contenedorContenido {
    margin: 10% 0;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}



.parrafoNosotros {
    width: 50%;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 4vh;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.imgCalaveraNos {
    margin: 2em;
    width: 30vw;
}

/* -------------------------  SECCION SUCURSALES  -------------------------*/

.sucursal {
    display: flex;
}

.contenedorSucursales1 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    width: 50%;
    height: 54.74vh;
    background-image: url("../img/resto_local_primero.jpg");
}

.contenedorSucursales2 {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    width: 50%;
    height: 54.74vh;
    background-image: url("../img/resto_local_segundo.jpg");
}

.direccion {
    margin: 5%;
    width: 50%;
}

.direccion li {
    font-family: 'DM Serif Text', serif;
    display: flex;
}


.encabezadoSucursales {
    display: flex;
    width: 100%;
}

.sucursalesH3 {
    margin-top: 5%;
    font-family: 'Mulish';
    font-weight: bolder;
    font-size: 10vh ;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.lineaSucursales {
    margin: 0px 100px;
    border-bottom: solid 4px white ;
    border-radius: 4px;
}

.circuloRosa {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F25EB0;
    border-radius: 100%;
}

.circuloRojo {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F2421B;
    border-radius: 100%;
}

.circuloNaranja {
    margin: 0 5%;
    width: 3vw;
    height: 6vh;
    background: #F29829;
    border-radius: 100%;
}  

@media (max-width: 992px) {

    .imgPrincipal {
        display: none;
    }

    .imgFondo {
        object-fit: cover;
    }

    .contenidoComida {
        margin: 20px;
        justify-content: center;
        align-items: center;
    }

    .contenedorComidaFondo h3 {
        
        text-align: center;
        font-size: 70px;
        text-transform: uppercase;
    }

    .separadorComida {
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .listaComida {
        margin: 0;
    }


    .franjaCeleste {
        display: none;
    }

    .franjaNaranja {
        display: none;
    }

    .franjaRoja {
        display: none;
    }

    .franjaRosa {
        display: none;
    }
}

