* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: white;
    min-height: 100vh;
    background: #091026;
}

header {
    margin: 0;

    width: 100%;
    height: 1000px;
    left: 0px;
    top: 0px;
}

.textoEncabezado {
    position: relative;
}

.tituloEncabezado {
    width: 100%;
    height: 199px;
    margin-top: 10%;
    font-family:'Medula One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 202px;
    text-align: center;
    text-transform: uppercase;
    
    color: #F0EBDD;
    
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subtituloEncabezado {
    width: 100%;  
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.parrafoEncabezado {
    width: 100%;

    font-family: 'Mulish';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.contenedorNav {
    display: flex;
    width: 100%;
    height: 74.35px;
    text-align: right;
}

.menuNav {
    display: flex;
    justify-content: flex-end;
    margin: 40px;
    width: 80%;
}

.menuNav span a {
    color: white;
    margin: 30px;
    font-size: 30px;
    text-decoration: none;
}

.menuNav span a:hover {
    padding-bottom: 8px;
    transition: 0.3s;
    border-bottom: 4px solid white;
}

.imagenCalavera {
    width: 223.91px;
    height: 271.38px;
    margin: 20px;
}

.imgBanderines {
    width: 100%;
    height: 288.22px;
    margin-top: 50px;
}

/* INICIO DEL MAIN */

main {
    width: 100%;
    left: 0px;
}

.mainEncabezado {
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100px;
}

.lineaEncabezado {
    width: 60%;
    border-bottom: solid 4px white ;
    border-radius: 4px;
}

.mainEncabezado h2 {
    width: 400px;
    height: 97px;
    margin-left: 5%;
    margin-right: 5%;

    font-family: 'Medula One', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 97px;
    text-transform: uppercase;

    color: #FFFFFF;
}



.contenedorComidaFondo {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 513px;
    top: 200px;
    background: #000000;

}

.contenidoComida {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    justify-content: space-between;
}

.contenedorComidaFondo h3 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    line-height: 91px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.sectorComida {
    display: flex;
}

.separadorComida {
    margin-left: 70px;
}


.listaComida {
    margin: 20px;
    margin-left: 50px;
}

.listaComida ul li {
    list-style-type: none;
    font-size: 40px;
    margin: 40px;
}

.imgFondo {
    width: 100%;
    height: 513px;
    left: 0px;
    opacity: 0.3;

} 

.imgPrincipal   {
    width: 640px;
    height: 360px;
    margin: 70px 200px;

}


.franjaRosa {
    width: 62.67px;
    height: 472px;
    margin: 20px;
    background: #F25EB0;
    border-radius: 6px;
}

.franjaRoja {
    width: 62.67px;
    height: 472px;
    margin: 20px;
    background: #F2421B;
    border-radius: 6px;
    
}

.franjaNaranja {
    width: 62.67px;
    height: 472px;
    margin: 20px;
    background: #F29829;
    border-radius: 6px;
    
}





/*  --------------------- Footer ----------------------------- */ 

footer {
    display: block;
    margin-top: 20%;
    width: 100%;
    height: 400px;
}

.lineaFooterRosa {
    margin-top: 5px;
    background: #F25EB0;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.lineaFooterNaranja {
    margin-top: 5px;
    background: #F29829;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.lineaFooterRoja {
    margin-top: 5px;
    background: #F2421B;
    width: 100%;
    height: 4px;
    border-radius: 100px;
}

.contenidoFooter {
    display: flex;
}

.footerLinks {
    height: 200px;
}

.imgCalaveraFooter {
    margin-top: 40px;
    width: 223.91px;
    height: 271.38px;
}

.contenedorRedes {
    margin: 30px 20%;
    padding: 30px;
    height: 100px;
    text-align: center;
}

.imgIcon {
    margin: 0px 20px;
    padding: 0;
    width: 50px;
    height: 50px;
}

.contenedorNavFooter {
    display: inline-block;
    height: 100px;
    margin: 30px;
    padding: 30px;
}

.contenedorNavFooter a {
    margin: 30px;
    color: white;
    text-decoration: none;
    display: block;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 20px;
}

/* -------------------------  SECCION NOSOTROS  -------------------------*/

.contenedorContenido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.parrafoNosotros {
    width: 50%;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.contenedorSucursales1 {
    margin-top: 50px;
    width: 100%;
    height: 513px;
    background-image: url("img/resto_local_primero.jpg");
}

.contenedorSucursales2 {
    margin-top: 50px;
    width: 100%;
    height: 513px;
    background-image: url("img/resto_local_segundo.jpg");
}

.encabezadoSucursales {
    display: flex;
    width: 100%;
    margin-top: 50px;
}

.sucursalesH3 {
    margin-top: 50px;
    font-family: 'Mulish';
    font-weight: bolder;
    font-size: 50px ;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.lineaSucursales {
    width: 10%;
    margin: 0px 100px;
    border-bottom: solid 4px white ;
    border-radius: 4px;
}
